<h1>Questions#ask</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
<h4>What do you want to ask ?</h4>
<form action="answer" class = "form-group">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class = "btn btn-default">
</form>
